{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nbpersonne</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nbPersonne.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ nbPersonne.nom }}</td>
            </tr>
            <tr>
                <th>Nbpersonne</th>
                <td>{{ nbPersonne.nbpersonne }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('nbpersonne_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('nbpersonne_edit', { 'id': nbPersonne.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
