{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vehiculedispos list</h1>

    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Nbplacedispo</th>
                <th>Pointrdv</th>
                <th>Liste passager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehiculeDispo in vehiculeDispos %}
            <tr>
                <td>{{ vehiculeDispo.nom }}</td>
                <td>{{ vehiculeDispo.nbplacedispo }}</td>
                <td>{{ vehiculeDispo.pointRdv }}</td>
                <td>
                    {% for passager in vehiculeDispo.passagers %}
                        {{ passager.nom }} ,
                    {% endfor %}
                </td>
                <td>

                            <a href="{{ path('vehiculedispo_edit', { 'id': vehiculeDispo.id }) }}"><button class="btn btn-default">Modifier</button></a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

            <a href="{{ path('vehiculedispo_new') }}"><button class="btn btn-default">Ajouter une ligne</button></a>

{% endblock %}
